<div id="<%= dom_id profile %>" class="flex flex-col border border-gray-300 rounded-lg p-10 items-center gap-3 m-10">
  <span class="font-bold text-xl">
    <%= profile.name %>
  </span>

  <span>
    <%= profile.city %>,
    <%= profile.country %>
  </span>

  <span>
    <strong>Birth:</strong>
    <%= profile.birth %>
  </span>

  <span>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </span>

  <span>
    <strong>Role:</strong>
    <%= profile.role %>
  </span>

  <% if current_user == profile.user %>
    <div>
      <%= link_to "Edit profile", edit_profile_path(profile), class: "btn-primary bg-green-700" %>
      <%= link_to "Edit account", user_edit_path(profile.user), class: "btn-primary bg-blue-700" %>
    </div>
  <% end %>

  <% if current_user == profile.user || current_user.profile.superadmin? %>
    <div>
      <%= button_to "Cancel account", user_destroy_path(profile.user), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn-primary bg-red-500" %>
    </div>
  <% end %>

</div>
