<section class="flex flex-col m-20 px-10 border border-gray-200 items-center justify-center rounded-lg">
  <h1 class="main-title"><%= title %></h1>

  <div class="max-w-lg w-full mb-10">
    <%= form_with(model: @user, class: "flex flex-col w-full") do |form| %>
      <% if @user.errors.any? %>
      <div class="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form.hidden_field :url, id: "url_field" %>

      <div>
        <%= form.label :email, class: "label-form" %>
        <%= form.email_field :email, class: "field-form" %>
      </div>

      <div>
        <%= form.label :password, class: "label-form" %>
        <%= form.password_field :password, class: "field-form" %>
      </div>

      <div>
        <%= form.label :password_confirmation, class: "label-form" %>
        <%= form.password_field :password_confirmation, class: "field-form" %>
      </div>

      <div class="mt-10 flex justify-center items-center">
        <%= form.submit button_text, class: "btn-primary bg-green-700 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</section>
