<nav class="flex justify-between p-3 bg-blue-700">
  <ul class="flex gap-2 items-center">
    <li class="font-bold text-lg text-white"><%= link_to 'Rails App', root_path  %></li>

    <% if current_user && current_user.profile.present? %>
      <li><%= link_to 'Articles', articles_path, class: "btn-primary" %></li>
      <li><%= link_to "Users", users_path, class: "btn-primary" %></li>
      <li><%= link_to "Categories", categories_path, class: "btn-primary" %></li>
      <li class="capitalize btn-primary"><%= current_user.profile.role %></li>
      <% unless current_user.profile.member? %>
        <li><%= link_to "New Category", new_category_path, class: "btn-primary" %></li>
        <li><%= link_to 'New Article', articles_new_path, class: "btn-primary" %></li>
      <% end %>
    <% end %>
  </ul>

  <ul class="flex gap-2 items-center">
    <% if current_user %>
      <li class="font-semibold text-white text-sm"><%= current_user.email %></li>
      <li><%= button_to "Log out", logout_path, method: :delete, class: "btn-primary bg-red-600" %></li>
    <% else %>
      <li><%= link_to "Login", login_path, class: "btn-primary bg-green-700" %></li>
      <li><%= link_to "Sign up", signup_path, class: "btn-primary bg-blue-500" %></li>
    <% end %>
  </ul>
</nav>